.container {
    display: flex;
    align-items: center; 
    text-align: justify;
}
.button {
    margin-top: 21px;
}
.togglebox{
    margin-top: 20px
}
.buttonbox{
    padding-right: 5px;
}
.sldscard{
    width: 300px;
    height: 230px;
    margin-top: 17px;
    margin-left: 17px;
}